language: python
sudo: false
cache: pip

python:
  - "3.5"

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson

env:
  global:
  - VERSION="13.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - TRANSIFEX_USER='transbot@odoo-community.org'
  - secure: ZAFnCH1jQHZHNx2dlr1f4ZQ0+03qxpOGBe4SYiR6ig31Z5KZBmmE9UabtdVKn6tAMZeF0qHduaDEfW3oOHWgKz6+YCBokl8Ev4zQZZMfos2XW2NoDOBoqR+UgtNeiSLbKHjZFLmLCK+Bb8nEuVypL3B4wCOn9xmBZudQxEp+GQs=
  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="OCA/OCB"
  - TESTS="1" ODOO_REPO="odoo/odoo"


install:
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
